<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>NSDocumentsFolderUsageDescription</key>
<string></string>
<key>NSDownloadsFolderUsageDescription</key>
<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>classcom</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSDocumentsFolderUsageDescription</key>
<string></string>
<key>NSDownloadsFolderUsageDescription</key>
<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>FuturaCyrillicBold.ttf</string>
		<string>FuturaCyrillicBook.ttf</string>
		<string>FuturaCyrillicDemi.ttf</string>
		<string>FuturaCyrillicExtraBold.ttf</string>
		<string>FuturaCyrillicHeavy.ttf</string>
		<string>FuturaCyrillicLight.ttf</string>
		<string>FuturaCyrillicMedium.ttf</string>
		<string>FuturaPT-Bold.ttf</string>
		<string>FuturaPT-BoldObl.ttf</string>
		<string>FuturaPT-Book.ttf</string>
		<string>FuturaPT-BookObl.ttf</string>
		<string>FuturaPT-Demi.ttf</string>
		<string>FuturaPT-DemiObl.ttf</string>
		<string>FuturaPT-ExtraBold.ttf</string>
		<string>FuturaPT-ExtraBoldObl.ttf</string>
		<string>FuturaPT-Heavy.ttf</string>
		<string>FuturaPT-HeavyObl.ttf</string>
		<string>FuturaPT-Light.ttf</string>
		<string>FuturaPT-LightObl.ttf</string>
		<string>FuturaPT-Medium.ttf</string>
		<string>FuturaPT-MediumObl.ttf</string>
		<string>FuturaPTCond-Bold.ttf</string>
		<string>FuturaPTCond-BoldObl.ttf</string>
		<string>FuturaPTCond-Book.ttf</string>
		<string>FuturaPTCond-BookObl.ttf</string>
		<string>FuturaPTCond-ExtraBold.ttf</string>
		<string>FuturaPTCond-ExtraBoldObl.ttf</string>
		<string>FuturaPTCond-Medium.ttf</string>
		<string>FuturaPTCond-MediumObl.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
